In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
df1 = pd.read_csv("Facebook_Salaries_2018.csv")
df1.head(5)

,Job_Role,Pay,Location,State,Submit_Date,Submit_Date_Mo,Submit_Date_Yr,Hire_Date,Hire_Date_Mo,Hire_Date_Yr
0,VIDEO PRODUCT MARKETING MANAGER,125400,MENLO PARK CA,CA,2/19/2018,2,2018,8/15/2018,8,2018
1,ACCESS MANAGEMENT LEAD,114642,AUSTIN TX,TX,3/2/2018,3,2018,8/28/2018,8,2018
2,ADS PRODUCT MEASUREMENT,148000,MENLO PARK CA,CA,8/30/2018,8,2018,9/10/2018,9,2018
3,ADS PRODUCT STRATEGY LEAD,195000,MENLO PARK CA,CA,2/14/2018,2,2018,2/26/2018,2,2018
4,ADS PRODUCT STRATEGY LEAD,195000,MENLO PARK CA,CA,2/5/2018,2,2018,8/1/2018,8,2018

In [ ]:
df1['Salary'].hist(bins=50)

In [ ]:
df2=df1.set_index("City")

In [ ]:
df2

In [ ]:
mpdf=df2.loc['SEATTLE CA']

In [ ]:
mpdf

In [ ]:
mpdf.plot.bar()

In [5]:
df3=df1.set_index("Job_Role")

In [6]:
df3.head()

,Pay,Location,State,Submit_Date,Submit_Date_Mo,Submit_Date_Yr,Hire_Date,Hire_Date_Mo,Hire_Date_Yr
Job_Role,,,,,,,,,
VIDEO PRODUCT MARKETING MANAGER,125400,MENLO PARK CA,CA,2/19/2018,2,2018,8/15/2018,8,2018
ACCESS MANAGEMENT LEAD,114642,AUSTIN TX,TX,3/2/2018,3,2018,8/28/2018,8,2018
ADS PRODUCT MEASUREMENT,148000,MENLO PARK CA,CA,8/30/2018,8,2018,9/10/2018,9,2018
ADS PRODUCT STRATEGY LEAD,195000,MENLO PARK CA,CA,2/14/2018,2,2018,2/26/2018,2,2018
ADS PRODUCT STRATEGY LEAD,195000,MENLO PARK CA,CA,2/5/2018,2,2018,8/1/2018,8,2018

In [9]:
df3.loc['DATA SCIENTIST']

,Pay,Location,State,Submit_Date,Submit_Date_Mo,Submit_Date_Yr,Hire_Date,Hire_Date_Mo,Hire_Date_Yr
Job_Role,,,,,,,,,
DATA SCIENTIST,90000,MENLO PARK CA,CA,2/7/2018,2,2018,8/6/2018,8,2018
DATA SCIENTIST,100000,MENLO PARK CA,CA,3/16/2018,3,2018,9/14/2018,9,2018
DATA SCIENTIST,100000,MENLO PARK CA,CA,3/6/2018,3,2018,9/5/2018,9,2018
DATA SCIENTIST,100000,MENLO PARK CA,CA,2/8/2018,2,2018,8/6/2018,8,2018
DATA SCIENTIST,105000,MENLO PARK CA,CA,11/14/2018,11,2018,11/19/2018,11,2018
DATA SCIENTIST,105000,MENLO PARK CA,CA,11/16/2018,11,2018,5/15/2019,5,2019
DATA SCIENTIST,105000,MENLO PARK CA,CA,11/16/2018,11,2018,5/15/2019,5,2019
DATA SCIENTIST,115000,MENLO PARK CA,CA,11/1/2018,11,2018,11/12/2018,11,2018
DATA SCIENTIST,115000,MENLO PARK CA,CA,11/2/2018,11,2018,11/12/2018,11,2018
DATA SCIENTIST,115000,MENLO PARK CA,CA,3/20/2018,3,2018,9/19/2018,9,2018
DATA SCIENTIST,115000,MENLO PARK CA,CA,3/26/2018,3,2018,6/1/2018,6,2018
DATA SCIENTIST,115000,MENLO PARK CA,CA,5/11/2018,5,2018,5/21/2018,5,2018
DATA SCIENTIST,115000,MENLO PARK CA,CA,6/1/2018,6,2018,6/11/2018,6,2018
DATA SCIENTIST,115000,MENLO PARK CA,CA,3/14/2018,3,2018,9/12/2018,9,2018
DATA SCIENTIST,115000,MENLO PARK CA,CA,7/31/2018,7,2018,8/13/2018,8,2018
DATA SCIENTIST,117026,MENLO PARK CA,CA,6/21/2018,6,2018,10/1/2018,10,2018
DATA SCIENTIST,120000,MENLO PARK CA,CA,10/22/2018,10,2018,10/29/2018,10,2018
DATA SCIENTIST,120000,MENLO PARK CA,CA,3/5/2018,3,2018,3/19/2018,3,2018
DATA SCIENTIST,120000,MENLO PARK CA,CA,3/6/2018,3,2018,8/26/2018,8,2018
DATA SCIENTIST,121547,MENLO PARK CA,CA,5/2/2018,5,2018,5/14/2018,5,2018
DATA SCIENTIST,121807,MENLO PARK CA,CA,1/26/2018,1,2018,7/25/2018,7,2018
DATA SCIENTIST,125000,MENLO PARK CA,CA,11/16/2018,11,2018,5/15/2019,5,2019
DATA SCIENTIST,125000,MENLO PARK CA,CA,11/16/2018,11,2018,5/15/2019,5,2019
DATA SCIENTIST,125000,MENLO PARK CA,CA,7/10/2018,7,2018,7/23/2018,7,2018
DATA SCIENTIST,125000,MENLO PARK CA,CA,1/18/2018,1,2018,1/29/2018,1,2018
DATA SCIENTIST,130000,MENLO PARK CA,CA,2/1/2018,2,2018,7/31/2018,7,2018
DATA SCIENTIST,130000,MENLO PARK CA,CA,6/8/2018,6,2018,6/25/2018,6,2018
DATA SCIENTIST,130000,MENLO PARK CA,CA,3/16/2018,3,2018,3/26/2018,3,2018
DATA SCIENTIST,131411,MENLO PARK CA,CA,5/4/2018,5,2018,5/14/2018,5,2018
DATA SCIENTIST,132877,SAN FRANCISCO CA,CA,3/9/2018,3,2018,4/30/2018,4,2018
...,...,...,...,...,...,...,...,...,...
DATA SCIENTIST,160000,MENLO PARK CA,CA,7/31/2018,7,2018,8/13/2018,8,2018
DATA SCIENTIST,160475,MENLO PARK CA,CA,5/2/2018,5,2018,5/14/2018,5,2018
DATA SCIENTIST,165000,SEATTLE WA,WA,11/15/2018,11,2018,11/26/2018,11,2018
DATA SCIENTIST,165000,MENLO PARK CA,CA,8/8/2018,8,2018,8/20/2018,8,2018
DATA SCIENTIST,165000,MENLO PARK CA,CA,7/31/2018,7,2018,8/13/2018,8,2018
DATA SCIENTIST,166385,MENLO PARK CA,CA,11/16/2018,11,2018,2/11/2019,2,2019
DATA SCIENTIST,168875,MENLO PARK CA,CA,6/19/2018,6,2018,12/18/2018,12,2018
DATA SCIENTIST,168875,MENLO PARK CA,CA,8/7/2018,8,2018,10/1/2018,10,2018
DATA SCIENTIST,170328,MENLO PARK CA,CA,3/19/2018,3,2018,3/26/2018,3,2018
DATA SCIENTIST,175000,MENLO PARK CA,CA,6/8/2018,6,2018,6/18/2018,6,2018
DATA SCIENTIST,175000,MENLO PARK CA,CA,5/30/2018,5,2018,6/4/2018,6,2018
DATA SCIENTIST,175000,SEATTLE WA,WA,3/26/2018,3,2018,4/9/2018,4,2018
DATA SCIENTIST,175000,MENLO PARK CA,CA,6/15/2018,6,2018,6/18/2018,6,2018
DATA SCIENTIST,175000,MENLO PARK CA,CA,8/6/2018,8,2018,8/20/2018,8,2018
DATA SCIENTIST,175000,MENLO PARK CA,CA,9/13/2018,9,2018,9/17/2018,9,2018
DATA SCIENTIST,175000,MENLO PARK CA,CA,7/30/2018,7,2018,8/13/2018,8,2018
DATA SCIENTIST,180000,MENLO PARK CA,CA,1/12/2018,1,2018,1/29/2018,1,2018
DATA SCIENTIST,180000,MENLO PARK CA,CA,1/18/2018,1,2018,2/5/2018,2,2018
DATA SCIENTIST,180000,SEATTLE WA,WA,1/31/2018,1,2018,2/12/2018,2,2018
DATA SCIENTIST,180000,MENLO PARK CA,CA,5/22/2018,5,2018,8/27/2018,8,2018
DATA SCIENTIST,180000,MENLO PARK CA,CA,8/28/2018,8,2018,9/3/2018,9,2018
DATA SCIENTIST,180000,MENLO PARK CA,CA,7/13/2018,7,2018,7/23/2018,7,2018
DATA SCIENTIST,185000,MENLO PARK CA,CA,10/10/2018,10,2018,10/22/2018,10,2018
DATA SCIENTIST,185000,MENLO PARK CA,CA,10/11/2018,10,2018,10/22/2018,10,2018
DATA SCIENTIST,185000,MENLO PARK CA,CA,10/30/2018,10,2018,11/12/2018,11,2018
DATA SCIENTIST,185000,MENLO PARK CA,CA,8/22/2018,8,2018,9/4/2018,9,2018
DATA SCIENTIST,185000,MENLO PARK CA,CA,8/23/2018,8,2018,9/3/2018,9,2018
DATA SCIENTIST,201925,MENLO PARK CA,CA,6/14/2018,6,2018,11/24/2018,11,2018
DATA SCIENTIST,210000,MENLO PARK CA,CA,9/25/2018,9,2018,10/8/2018,10,2018
DATA SCIENTIST,215000,MENLO PARK CA,CA,9/13/2018,9,2018,9/24/2018,9,2018

In [ ]:
plt.figure(figsize=(12,6))
ax = sns.boxplot(x="State", y="Pay", data=df1,palette='rainbow')

ax.set_xticklabels(ax.get_xticklabels(), rotation=40, ha="right")
plt.tight_layout()
ax.set_title("State vs Salary for Facebook")